[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = shrutisoni08
	email = 130765736+shrutisoni08@users.noreply.github.com
